{% extends 'main.html' %}
{% block content%}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
         {% include 'studyapp/topic_components.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
         {% include 'studyapp/feed_components.html' %}
        <!-- Room List End -->

        <!-- Activities Start -->
         {% include 'studyapp/activity_components.html' %}
        <!-- Activities End -->
      </div>
    </main>
{% endblock %}