{% extends  'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter your username...">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter your passsword...">
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'register' %}" class="btn">Haven't an account yet? Register here!</a>
</div>
{% else %}
<div>
     <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register">
     </form>
    <a href="{% url 'login' %}">Already signed up? Login here!</a>
    
</div>
{% endif %}

{% endblock %}